$dark-black: hsl(0, 0%, 7%);
$light-black: hsl(0, 0%, 10%);
$grey: hsl(0, 0%, 14%);
// $highlight: #646cff;
$highlight: #ffac3e;
$dark-highlight: darken($highlight, 20);
$white: hsla(0, 0%, 100%, 0.87);
