.App {
	// display: flex;
	min-height: 100%;
	width: 99vw;
	// max-width: fit-content;
	overflow-x: hidden;
	display: grid;
	// grid-template-columns: 0.4fr minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-template-columns: 12rem calc(100% - 12rem);
	grid-template-rows: 5rem 1fr;
	gap: 0.5rem;
}

@media screen and (width < 750px) {
	.App {
		grid-template-columns: 1fr;
		grid-template-rows: 5rem 5rem 1fr;
		header {
			position: relative;
			height: 8rem;
		}
		nav {
			position: fixed;
			height: 8rem;
			width: 100%;
			flex-direction: row;
			gap: 10px;
			font-size: small;
			.logo {
				height: 100px;
				width: 100px;
			}
			a {
				display: grid;
				place-content: center;
			}
		}
		main.card-holder {
			width: unset;
		}
	}
}

@media screen and (width < 500px) {
	nav {
		a {
			font-size: 1.5rem;
		}
	}

	.search-box {
		width: 10rem;
		input {
			width: 80%;
		}
	}
	main.card-holder {
		width: unset;
	}
	.card-container .card {
		img.loading {
			width: 200px;
			height: 200px;
		}
		img {
			width: 200px;
		}
	}
}

@media screen and (width < 350px) {
	.App {
		nav {
			a {
				font-size: 1.25rem;
			}
			.logo {
				height: 75px;
				width: 75px;
			}
		}
		.search-box {
			width: 7.5rem;
		}
	}
}
