main {
	width: calc(100% - 30px);
	max-width: 100%;
	overflow-x: hidden;
	display: grid;
	// grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	gap: 2rem;
}

// @media screen and (width < 1600px) {
// 	main {
// 		grid-template-columns: 1fr 1fr;
// 	}
// }

// @media screen and (width < 1200px) {
// 	main {
// 		grid-template-columns: 1fr;
// 	}
// }

.top-bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}
