@use 'colors' as col;
.search-box {
	height: 2rem;
	display: flex;
	place-content: center;
	background-color: #fff;
	padding-inline: 1rem;
	align-items: center;
	border-radius: 100vw;
	&:focus-within {
		outline: auto;
	}
	input {
		background-color: #fff;
		outline: 0;
		border: 0;
		color: col.$grey;
		padding-left: 10px;
		font-size: 1.1em;
		// &::placeholder{

		// }
	}
}
